src/packages/
src/Libraries/SmartStore.Core/bin/
src/Libraries/SmartStore.Data/bin/
src/Libraries/SmartStore.Services/bin/
src/Plugins/SmartStore.AmazonPay/
src/Plugins/SmartStore.Clickatell/
src/Plugins/SmartStore.devTools/
src/Plugins/SmartStore.DiscountRules/
src/Plugins/SmartStore.FacebookAuth/
src/Plugins/SmartStore.GoogleAnalytics/
src/Plugins/SmartStore.GoogleMerchantCenter/
src/Plugins/SmartStore.OfflinePayment/
src/Plugins/SmartStore.PayPal/
src/Plugins/SmartStore.Shipping/
src/Plugins/SmartStore.ShippingByWeight/
src/Plugins/SmartStore.Tax/
src/Plugins/SmartStore.WebApi/
src/Test/
src/Tools/
src/Presentation/SmartStore.Web.Framework/bin/
src/Presentation/SmartStore.Web/bin
src/Presentation/SmartStore.Web/Administration/
src/Presentation/SmartStore.Web/Administration/Bin/
*.dll