@*@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
}
<div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>
</div>*@

<!DOCTYPE HTML>
    <html>
    <head>
        <title> Espresso Mesin</title>
        <style>
            img {
                width: 90%;
                margin-left: 5%;
            }
        </style>
    </head>
    <body>
        <p align="center">Shop is under maintenance, we will be back shortly.</p>
        <img src="maintenance.jpg" />
    </body>
    </html>
